{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 0,
        "react/jsx-uses-react": "error",
        "react/jsx-uses-vars": "error",
    },
    "plugins": [
      "react"
    ]
}
